
/*
    General styles
*/

html, div {
    padding: 0px;
    margin: 0px;
}

.old-computer-like {
    border: 3px solid black;
    background-color: antiquewhite;
    margin: auto;
    text-align: center;
}


/*
    Specific PC parts
*/

#computer-screen {
    width: 800px;
    height: 800px;
    border-radius: 10px;
}

/*
    Note:
    
    Do never declare the canvas width and hoght attributes in the css file, 
    that can cause errors because you're just modifying the screen output of 
    the canvas object BUT NOT the canvas behaviour.

    API objects MUST declare it's attributes inner HTML, NEVER stylesheets because 
    produce lack of interaction the API and becomes just an styled object
*/
#computer-framebuffer {
    background-color: black;
    border-radius: 10px;
    margin-top: 100px;
}

#computer-box {
    text-align: left;
    width: 60%;
    height: 250px;
    padding: 50px 100px;
}

#start-button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    transition: border-color 0.3s, color 0.3s;
}

#start-button:hover {
    border-color: red;
    color: red;
}

#start-button:active {
    transition: border-color 0s, color 0s;
    border-color: blue;
    color: blue;
}

#disk-slot {
    width: 50%;
    margin-right: 0px;
    height: 50px;
}

#disk-slot-button {
    margin-left: 4%;
    margin-top: 2%;
    width: 10%;
    height: 20%;
    border-radius: 5px;
}

#computer-lower-part {
    display: grid;
    padding: 0px;
    margin-top: 1.8%;
    width: 100%;
    height: 60%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
}

#ventilation-grill {
    /*Belongs to the lower computer part */
    grid-column: 1 / 3;
    grid-row: 1;

    /* This will contain the ventilation holes */
    display: grid;
    width: 100%;
    height: 100%;

    /*Grid template rows and columns assigned by JS*/
}

.ventilation-hole {
    background-color: black;
    width: 80%;
    height: 80%;
    margin: auto;

    /* Rows and columns declared by JS */
}